.product-information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  margin-top: 50px;
  gap: 30px;

  .img-wrapper {
    place-self: center;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    
    @media (max-width: 768px) {
      min-height: 400px
    }


    img {
      object-fit: contain;
      width: 100%;
      height: 100%;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
      }
    }

    .delete {
      z-index: 1;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: white;
      border-radius: 50px;
      font-family: "Jost", sans-serif;
      font-weight: 400;
      width: 50px;
      height: 50px;
      padding: 30px;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      background-image: url(../delete.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 80%;
      background-position: 50%;

      transition: transform 0.5s ease-out;

      &:hover {
        transform: rotate(45deg);
      }
    }
  }

  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 20px;
    }

    h1 {
      text-align: center;
    }

    span {
      display: inline-block;
      font-weight: 500;
    }

    *::before {
      position: relative;
      left: -10px;
    }

    .location::before {
      display: inline-block;
      content: url(../building-svgrepo-com.svg);
      width: 25px;
      height: 25px;
    }

    .time::before {
      display: inline-block;
      content: url(../clock-svgrepo-com.svg);
      width: 25px;
      height: 25px;
      left: -7px;
      top: 4px;
    }

    .price::before {
      display: inline-block;
      content: url(../price-tag-dolar-svgrepo-com.svg);
      width: 25px;
      height: 25px;
      left: -5px;
      top: 5px;
    }
  }
}

.success {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #eb166e;
  padding: 50px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 10px 50px;
  flex-direction: column;
  row-gap: 20px;
  width: auto;
 

  h3 {
    color: white;
    font-size: 1.5rem;
  }

  div {
    display: flex;
    justify-content: space-around;
  }

  a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px 10px;
    cursor: pointer;
    color: #eb166e;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      color: #5db67d;
      border: 2px solid white;
      border-radius: 5px 10px;
    }
  }

  button {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px 10px;
    cursor: pointer;
    color: #eb166e;
    font-size: 1rem;

    &:hover {
      color: #5db67d;
      border: 2px solid white;
      border-radius: 5px 10px;
    }
  }
}
